//////////////////////////////
// Main
//////////////////////////////

.main {
  display: block;
  transform: translateZ(0); // Force hardware acceleration in Webkit
  transition: transform _e3dn('transition-duration');
  backface-visibility: hidden;

  &.nav-is-visible {
    transform: translateY(_e3dn('nav-height-small'));
  }

  @include bp(medium) {
    &.nav-is-visible {
      transform: translateY(_e3dn('nav-height-medium'));
    }
  }
}
