// colors
$body-bg: #485274 !default; // dark blue
$nav-container-bg: #000000 !default; // black
$nav-bg: darken($body-bg, 10%) !default;
$text-color: #ffffff !default; // white
$fixed-color: $nav-bg !default;
$nav-container-bg: #000000 !default; // black

$color-1: #9a57bd !default; // Amethyst
$color-2: #c96aa4 !default; // Hopbush
$color-3: #d6915e !default; // Di Serria
$color-4: #5397c7 !default; // Danube
$color-5: #77cd91 !default; // De York

// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 5;

// animation

$animation-duration: 0.5s !default;
