.nav-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%/$nav-items;
  transform-origin: center bottom;
  transform: translateZ(0) rotateX(90deg);
  transition: transform $animation-duration, left 0.5s, color 0.5s, background-color 0.5s;

  &::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    @include center(x);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit;
  }

  .nav-is-visible & {
    transform: translateZ(0);
  }
}
