.nav-trigger {
  cursor: pointer;
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 18px;

  span,
  span::before,
  span::after {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    backface-visibility: hidden;
  }

  span {
    /* this is the central line */
    top: 21px;
    left: 8px;
    transition: background 0.2s $animation-duration;

    &::before,
    &:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      transition: transform 0.2s $animation-duration;
    }

    &::before {
      bottom: 8px;
    }

    &::after {
      top: 8px;
    }
  }

  .nav-is-visible & {

    span {
      &::before {
        transform: translateY(8px) rotate(-45deg);
      }

      &::after {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}
