//////////////////////////////
// Ember 3d Nav Container
//////////////////////////////

// 3D navigation container
.ember-3d-nav-container {
  width: 100%;
  height: _e3dn('nav-height-small');
  background-color: _e3dn('nav-container-bg');
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  perspective: 1000px; // Enable 3D-space for child elements
  transform: translateY(-100%);
  transition: height _e3dn('transition-duration'),
              transform _e3dn('transition-duration'),
              visibility _e3dn('transition-duration');

  @include bp(medium) {
    height: _e3dn('nav-height-medium');
  }

  &.nav-is-visible {
    visibility: visible;
    transform: translateY(0);
    transition: height _e3dn('transition-duration'),
                transform _e3dn('transition-duration'),
                visibility _e3dn('transition-duration');
  }
}
