///////////////////////////
// Nav Trigger Container //
///////////////////////////

.nav-trigger-container {
  @include clearfix;

  backface-visibility: hidden;
  min-height: 80px;
  padding: 15px 5vw;
  transform: translateZ(0); /* Force hardware acceleration in Webkit */
  transition: transform _e3dn('transition-duration');
  width: 100%;
  will-change: transform, visibility;

  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }

  &.nav-is-visible {
    transform: translateY(_e3dn('nav-height-small'));

    @include bp(medium) {
      transform: translateY(_e3dn('nav-height-medium'));
    }
  }

  &.is-fixed {
    display: block;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translateX(-50%) translateZ(0);
    transition: background-color 1000ms linear, transform _e3dn('transition-duration');
    z-index: 1;

    &.nav-is-visible {
      transform: translateX(-50%) translateY(_e3dn('nav-height-small'));

      @include bp(medium) {
        transform: translateX(-50%) translateY(_e3dn('nav-height-medium'));
      }
    }
  }

  &.is-fixed-and-scrolled {
    background-color: _e3dn('is-fixed-nav-bg');
  }

  &.headroom--pinned {
    left: 50%;
    transform: translateX(-50%) translateY(0) translateZ(0);
    transition: height _e3dn('transition-duration'),
    transform _e3dn('transition-duration'),
    visibility _e3dn('transition-duration');
    visibility: visible;
  }

  &.headroom--unpinned {
    left: 50%;
    transform: translateX(-50%) translateY(-100%) translateZ(0);
    transition: height _e3dn('transition-duration'),
    transform _e3dn('transition-duration'),
    visibility _e3dn('transition-duration');
    visibility: hidden;
  }
}
