//////////////////////////////
// Nav
//////////////////////////////

// This is the 3D rotating navigation
.ember-3d-nav {
  height: 100%;
  background: _e3dn('nav-bg');
  margin: 0;
  padding: 0;
  position: relative;
  transform-origin: center bottom;
  transform: translateZ(0) rotateX(90deg); // Force hardware acceleration in Webkit
  transition: transform _e3dn('transition-duration');
  backface-visibility: hidden;
  overflow: hidden;

  // Menu dark cover layout - enhances perspective effect
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: _e3dn('nav-container-bg');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity _e3dn('transition-duration'),
    visibility _e3dn('transition-duration');
  }

  grid {
    height: 100%;

    centered {
      > * {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  centered {
    a {
      &:hover {
        background: _e3dn('nav-item-hover');
      }
    }

    &.is-selected a,
    &.is-selected a:hover {
      background: _e3dn('nav-item-selected');
    }

    &.is-selected a:before {
      background-position: 0 -32px;
    }
  }

  a {
    display: block;
    height: 100%;
    color: transparent;
    position: relative;
    transition: background-color 0.2s;

    @include bp(medium) {
      @include font-smoothing;
      color: _e3dn('nav-text-color');
      font: {
        size: 1.3rem;
        weight: 600;
      }
      text-align: center;
      padding: 7.6em 1em 0;
      // Truncate with ellipsis if too long
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:active,
    &:hover,
    &:link,
    &:visited,
    &:focus {
      color: transparent;

      @include bp(medium) {
        color: _e3dn('nav-text-color');
      }
    }

    // Nav Icons
    &::before {
      @include center;
      content: '';
      height: 32px;
      width: 32px;
      background-size: 32px 64px;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;

      @include bp(medium) {
        @include center(x);
        top: 4.4em;
      }
    }

    .is-selected & {
      background: _e3dn('nav-item-selected');
    }
  }

  .nav-is-visible & {
    transform: translateZ(0);

    // Menu cover layer - hide when nav is visible
    &::after {
      opacity: 0;
      visibility: hidden;
      transition: opacity _e3dn('transition-duration'),
      visibility _e3dn('transition-duration');
    }
  }
}
