//////////////////////////////
// Nav
//////////////////////////////

// This is the 3D rotating navigation
.ember-3d-nav {
  backface-visibility: hidden;
  background: _e3dn('nav-bg');
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transform: translateZ(0) rotateX(90deg); // Force hardware acceleration in Webkit
  transform-origin: center bottom;
  transition: transform _e3dn('transition-duration');

  // Menu dark cover layout - enhances perspective effect
  &:after {
    background-color: _e3dn('nav-container-bg');
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity _e3dn('transition-duration'),
    visibility _e3dn('transition-duration');
    visibility: visible;
    width: 100%;
  }

  .flexi-grid {
    height: 100%;

    .flexi-centered {
      > * {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .flexi-centered {
    a {
      &:hover {
        background: _e3dn('nav-item-hover');
      }
    }

    &.is-selected a,
    &.is-selected a:hover {
      background: _e3dn('nav-item-selected');
    }

    &.is-selected a:before {
      background-position: 0 -32px;
    }
  }

  a {
    color: transparent;
    display: block;
    height: 100%;
    position: relative;
    transition: background-color 0.2s;

    @include bp(medium) {
      @include font-smoothing;

      color: _e3dn('nav-text-color');
      font: {
        size: 13px;
        weight: 600;
      }
      overflow: hidden;
      padding: 7.6em 1em 0;
      text-align: center;
      text-overflow: ellipsis;
      // Truncate with ellipsis if too long
      white-space: nowrap;
    }

    &:active,
    &:hover,
    &:link,
    &:visited,
    &:focus {
      color: transparent;

      @include bp(medium) {
        color: _e3dn('nav-text-color');
      }
    }

    // Nav Icons
    &:before {
      @include center;

      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 32px 64px;
      content: '';
      height: 32px;
      position: absolute;
      width: 32px;

      @include bp(medium) {
        @include center(x);

        top: 4.4em;
      }
    }

    .is-selected & {
      background: _e3dn('nav-item-selected');
    }
  }

  .nav-is-visible & {
    transform: translateZ(0);

    // Menu cover layer - hide when nav is visible
    &:after {
      opacity: 0;
      transition: opacity _e3dn('transition-duration'),
      visibility _e3dn('transition-duration');
      visibility: hidden;
    }
  }
}
