//////////////////////////////
// Nav Trigger
//////////////////////////////

.nav-trigger {
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  height: 45px;
  margin-top: 18px;
  outline: none;
  position: relative;
  width: 45px;

  // Hamburger Icon
  &-line,
  &-line:before,
  &-line:after {
    backface-visibility: hidden;
    background: _e3dn('nav-trigger-color');
    height: 3px;
    position: absolute;
    width: 28px;
  }

  // Central Line
  &-line {
    left: 8px;
    top: 21px;
    transition: background _e3dn('transition-duration');

    .nav-is-visible & {
      background: transparent;
    }

    // Upper and Lower Lines
    &:before,
    &:after {
      content: '';
      left: 0;
      transition: transform _e3dn('transition-duration');
    }

    // Upper line
    &:before {
      bottom: 8px;

      .nav-is-visible & {
        transform: translateY(8px) rotate(-45deg);
      }
    }

    // Lower line
    &:after {
      top: 8px;

      .nav-is-visible & {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}
