/*////////////////////////////*/

/* Nav Trigger Container*/

/*////////////////////////////*/

.nav-trigger-container {
  @include clearfix;
  width: 100%;
  min-height: 80px;
  padding: 15px 5vw;
  transition: transform _e3dn('transition-duration');
  transform: translateZ(0); /* Force hardware acceleration in Webkit*/
  backface-visibility: hidden;

  &, & *, & *:before, & *:after {
    box-sizing: border-box;
  }

  &.nav-is-visible {
    transform: translateY(_e3dn('nav-height-small'));

    @include bp(medium) {
      transform: translateY(_e3dn('nav-height-medium'));
    }
  }

  &.is-fixed {
    display: block;
    text-align: center;
    transform: translateX(-50%) translateZ(0);
    transition: background-color 1000ms linear, transform _e3dn('transition-duration');
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;

    &.nav-is-visible {
      transform: translateX(-50%) translateY(_e3dn('nav-height-small'));

      @include bp(medium) {
        transform: translateX(-50%) translateY(_e3dn('nav-height-medium'));
      }
    }
  }

  &.is-fixed-and-scrolled {
    background-color: _e3dn('is-fixed-nav-bg');
  }

  &.headroom {
    will-change: opacity;
    transition: opacity 1000ms linear, transform _e3dn('transition-duration');
  }

  &.headroom--pinned {
    opacity: 1;
  }

  &.headroom--unpinned {
    opacity: 0;
  }
}
