//////////////////////////////
// Ember 3d Nav Container
//////////////////////////////

// 3D navigation container
.ember-3d-nav-container {
  background-color: _e3dn('nav-container-bg');
  height: _e3dn('nav-height-small');
  left: 0;
  perspective: 1000px; // Enable 3D-space for child elements
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: height _e3dn('transition-duration'),
  transform _e3dn('transition-duration'),
  visibility _e3dn('transition-duration');
  visibility: hidden;
  width: 100%;

  @include bp(medium) {
    height: _e3dn('nav-height-medium');
  }

  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }

  &.nav-is-visible {
    transform: translateY(0);
    transition: height _e3dn('transition-duration'),
    transform _e3dn('transition-duration'),
    visibility _e3dn('transition-duration');
    visibility: visible;
  }
}
