//////////////////////////////
// Nav Marker
//////////////////////////////

// Line at the bottom of nav selected item
.nav-marker {
  background: _e3dn('nav-marker-color');
  bottom: 0;
  color: _e3dn('nav-marker-color');
  height: 3px;
  left: 0;
  position: absolute;
  transform: translateZ(0) rotateX(90deg);
  transform-origin: center bottom;
  transition: transform _e3dn('transition-duration'),
  left _e3dn('transition-duration'),
  color _e3dn('transition-duration'),
  background-color _e3dn('transition-duration');
  width: (100% / _e3dn('nav-items'));

  // Triangle at the bottom of nav selected item
  &::before {
    @include center(x);

    border: 10px solid transparent;
    border-bottom-color: inherit;
    bottom: 3px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
  }

  .nav-is-visible & {
    transform: translateZ(0);
  }
}
