$body-bg: #82B4BC; // light blue

$color-1: #E35746;
//$color-1: #9a57bd; // Amethyst
$color-2: #c96aa4; // Hopbush
$color-3: #d6915e; // Di Serria
$color-4: #5397c7; // Danube
$color-5: #77cd91; // De York

// fonts

$primary-font: 'Open Sans', sans-serif;

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  background-color: $body-bg;
}

a {
  text-decoration: none;
}

.cd-3d-nav {
  li {
    &:first-of-type a::before {
      background-image: url(../img/boat.svg);
    }

    &:nth-of-type(2) a::before {
      background-image: url(../img/code.svg);
    }

    &:nth-of-type(3) a::before {
      background-image: url(../img/team.svg);
    }

    &:nth-of-type(4) a::before {
      background-image: url(../img/portfolio.svg);
    }

    &:nth-of-type(5) a::before {
      background-image: url(../img/anchor.svg);
    }
  }
}

.cd-logo {
  float: left;
  margin-top: 15px;

  img {
    height: auto;
    width: 75px;
  }
}

/* these are the colors of the markers - line + arrow */

.color-1 {
  color: $color-1;
  background-color: $color-1;
}

.color-2 {
  color: $color-2;
  background-color: $color-2;
}

.color-3 {
  color: $color-3;
  background-color: $color-3;
}

.color-4 {
  color: $color-4;
  background-color: $color-4;
}

.color-5 {
  color: $color-5;
  background-color: $color-5;
}
