@import "./fonts";
$c-blood-orange: #da4843;
$c-primary: #3d2f53;
$c-nav-bar: darken($c-primary, 5%);
$c-paragraph: #f5f0e1;

//////////////////////////////
// Dummy App Variables - Overrides default variables set in _variables.scss
//////////////////////////////

$ember-3d-nav: (
  'is-fixed-nav-bg': #624b86,
  'nav-bg': $c-nav-bar,
  'nav-item-hover': darken($c-primary, 10%),
  'nav-item-selected': darken($c-primary, 10%),
  'nav-text-color': #f5f0e1,
  'nav-trigger-color': #f5f0e1
);

$c-color-1: $c-blood-orange;
$c-color-2: #c96aa4;
$c-color-3: #d6915e;
$c-color-4: #5397c7;
$c-color-5: #77cd91;

// Import Addon SCSS
@import 'ember-3d-nav';

//////////////////////////////
// Dummy App Styles
//////////////////////////////

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: $c-primary;
  font: {
    family: $f-primary;
    size: 1.2rem;
  }

  height: 200vh;
}

a {
  text-decoration: none;
}

.ember-3d-nav {
  .flexi-centered {
    &:first-of-type a:before {
      background-image: url(../img/boat.svg);
    }

    &:nth-of-type(2) a:before {
      background-image: url(../img/code.svg);
    }

    &:nth-of-type(3) a:before {
      background-image: url(../img/team.svg);
    }

    &:nth-of-type(4) a:before {
      background-image: url(../img/portfolio.svg);
    }

    &:nth-of-type(5) a:before {
      background-image: url(../img/anchor.svg);
    }
  }
}

.logo {
  float: left;

  img {
    height: 75px;
    width: 75px;
  }
}

.main {
  .info-text {
    margin: 0 auto;
    width: 75vw;

    a {
      color: $c-blood-orange;

      &:hover {
        text-decoration: underline;
      }
    }

    h1,
    p {
      @include font-smoothing;

      color: $c-paragraph;
      margin: 100px auto;
      font: {
        size: 1.5rem;
        weight: 300;
      }

      text-align: center;
    }

    h1 {
      font-size: 8vw;

      .pacifico {
        font-family: $f-pacifico;
      }
    }
  }
}

// These are the colors of the markers - Line & Arrow
.color-1 {
  background-color: $c-color-1;
  color: $c-color-1;
}

.color-2 {
  background-color: $c-color-2;
  color: $c-color-2;
}

.color-3 {
  background-color: $c-color-3;
  color: $c-color-3;
}

.color-4 {
  background-color: $c-color-4;
  color: $c-color-4;
}

.color-5 {
  background-color: $c-color-5;
  color: $c-color-5;
}
