<nav
  class="ember-3d-nav-container
    {{if this.navService.navIsVisible "nav-is-visible"}}"
>
  <ul class="ember-3d-nav">
    <NavItemsContainer>
      {{yield}}
      <NavMarker @multiColor={{@multiColor}} />
    </NavItemsContainer>
  </ul>
</nav>