<header class="cd-header">
  <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
  <a href="#0" class="cd-3d-nav-trigger">
    Menu
    <span></span>
  </a>
</header> <!-- .cd-header -->

<main>
  {{yield}}
</main>

<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    {{#each links as |link|}}
      {{nav-item
      cdSelected=link.selected
      href=link.href
      onClickAction='onClickAction'
      text=link.text}}
    {{/each}}
  </ul> <!-- .cd-3d-nav -->

  <span class="cd-marker color-1"></span>
</nav> <!-- .cd-3d-nav-container -->