<header class="cd-header">
  <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
  <a href="#0" class="cd-3d-nav-trigger">
    Menu
    <span></span>
  </a>
</header> <!-- .cd-header -->

<main>
  {{yield}}
</main>

<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li class="cd-selected">
      <a href="#0">Dashboard</a>
    </li>

    <li>
      <a href="#0">Projects</a>
    </li>

    <li>
      <a href="#0">Images</a>
    </li>

    <li>
      <a href="#0">Settings</a>
    </li>

    <li>
      <a href="#0">New</a>
    </li>
  </ul> <!-- .cd-3d-nav -->

  <span class="cd-marker color-1"></span>
</nav> <!-- .cd-3d-nav-container -->