// colors
$body-bg: #82B4BC; // light blue
$nav-container-bg: #000000; // black
$nav-bg: darken($body-bg, 10%);
$text-color: #F5F0E1; // cream

// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 5;

// animation

$animation-duration: 0.5s;
