{{#ember-3d-nav multiColor=true as |section selectedIndex navItemClicked|}}
  {{#if (eq section 'header')}}
    <a href="//shipshape.io" class="cd-logo"><img src="img/ShipShapeIcon.svg" alt="Logo"></a>
  {{/if}}
  {{#if (eq section 'main')}}
    <div class="info-text">
      <h1>Ember-3D-Nav</h1>
      <p>
        This Ember addon is based on the amazing work done by CodyHouse on
        <a href="https://codyhouse.co/gem/3d-rotating-navigation/">3D Rotating Navigation</a>.
        Some changes have been made to convert things into Ember components and try to make it reusable,
        but a lot of the original styles have stayed.
      </p>
    </div>
  {{/if}}
  {{#if (eq section 'nav-items')}}
    {{#each links as |link index|}}
      {{#nav-item index=index selectedIndex=selectedIndex onClickAction=navItemClicked}}
        <a href="{{link.href}}">{{link.text}}</a>
      {{/nav-item}}
    {{/each}}
  {{/if}}
{{/ember-3d-nav}}
