.flexi-centered {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  min-height: 1px;
  position: relative;
}

.flexi-grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1px;
  position: relative;
}
