//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
//////////////////////////////
$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1170px
);

// Colors
//////////////////////////////

// Semantic Colors
$c-white: #ffffff;
$c-black: #000000;
$c-codyhouse: #485274;

// Ember 3D Nav Defaults
$ember-3d-nav-defaults: (
  'is-fixed-nav-bg': darken($c-codyhouse, 5%),
  'nav-bg': darken($c-codyhouse, 10%),
  'nav-container-bg': $c-black,
  'nav-height-small': 80px,
  'nav-height-medium': 170px,
  'nav-item-hover': darken($c-codyhouse, 15%),
  'nav-item-selected': darken($c-codyhouse, 20%),
  'nav-items': 5,
  'nav-marker-color': #da4843,
  'nav-text-color': $c-white,
  'nav-trigger-color': $c-white,
  'transition-duration': 0.5s
);

// Empty config if user does not add their own
$ember-3d-nav: () !default;

// Merge defaults and user added config
$ember-3d-nav: map-merge($ember-3d-nav-defaults, $ember-3d-nav);
