.cd-3d-nav-trigger {
  cursor: pointer;
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 18px;

  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;

  span,
  span::before,
  span::after {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #FFF;
    @include backface-visibility(hidden);
  }

  span {
    /* this is the central line */
    top: 21px;
    left: 8px;
    @include transition(background 0.2s $animation-duration);

    &::before,
    &:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      @include transition(transform 0.2s $animation-duration);
    }

    &::before {
      bottom: 8px;
    }

    &::after {
      top: 8px;
    }
  }

  .nav-is-visible & {

    span {
      /* hide line in the center */
      background-color: rgba(#FFF, 0);

      &::before,
      &::after {
        /* keep visible other 2 lines */
        background-color: rgba(#FFF, 1);
      }

      &::before {
        @include transform(translateY(8px) rotate(-45deg));
      }

      &::after {
        @include transform(translateY(-8px) rotate(45deg));
      }
    }
  }
}
